@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap");
main {
  padding: 10em 10vw 3em 10vw;
}

@media (min-width: 1200px) {
  main {
    padding: 10em 0 3em 0;
    margin: auto;
    width: 60%;
    height: 100%;
  }
}

.hamburger-menu-and-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger-menu-and-info .info {
  margin-left: 2em;
}

@media (min-width: 900px) {
  .hamburger-menu-and-info .info {
    position: relative;
    top: 30px;
    margin-left: 0;
  }
}

.hamburger-menu-and-info .info span {
  color: #E84545;
}

.hamburger-menu-and-info svg {
  cursor: pointer;
}

@media (min-width: 900px) {
  .hamburger-menu-and-info svg {
    display: none;
  }
}

.hamburger-menu-and-info .display-menu {
  display: none;
  position: absolute;
  top: 13em;
  left: 11vw;
  width: 10em;
  height: 13em;
  padding: 1em;
  background-color: #53354A;
}

.hamburger-menu-and-info .display-menu li {
  margin-top: 1em;
  cursor: pointer;
}

.hamburger-menu-and-info .display-menu li:hover {
  color: #FF9191;
}

.card-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 2em;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row: auto;
  grid-gap: 40px;
}

@media (min-width: 830px) {
  .card-container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1700px) {
  .card-container {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

.card {
  width: 300px;
  background-color: #903749;
  padding: 1em;
  text-align: center;
}

.card .card-img {
  height: 23em;
  background-color: green;
  margin-bottom: 1em;
}

.card img {
  height: 100%;
  width: 100%;
}

.card h3 {
  margin: 0;
  text-align: center;
  padding: 2px;
}

.card .info {
  width: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  text-align: left;
  margin: auto;
}

.card .info li {
  margin-top: 1em;
}

.card .info span {
  font-weight: bold;
  display: block;
}

.card .btn-u-korpu {
  all: unset;
  width: 7em;
  height: 1em;
  margin-top: 1em;
  padding: 1em;
  background-color: #E84545;
  font-weight: bold;
  text-align: center;
}

.card .btn-u-korpu:hover {
  background-color: #FF9191;
}

.search {
  display: none;
}

@media (min-width: 900px) {
  .search {
    display: inline;
  }
  .search input {
    width: 18em;
    padding: 10px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 900px) and (min-width: 1500px) {
  .search input {
    width: 25vw;
  }
}

@media (min-width: 900px) {
  .search input:focus {
    outline-color: #E84545;
  }
  .search .search-btn {
    cursor: pointer;
    position: relative;
    right: 5px;
    top: 1px;
    background-color: #E84545;
    padding: 10px;
  }
  .search svg {
    position: relative;
    top: 2px;
  }
}

.filter-container {
  display: none;
}

@media (min-width: 900px) {
  .filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 20px;
    width: 100%;
    height: 10em;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.filter-container .filter-box {
  text-align: center;
}

.filter-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #53354A;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #2B2E4A;
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-size: 1em;
  color: white;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #53354A;
}

header nav {
  padding: 2em 10vw 0 10vw;
}

@media (min-width: 1200px) {
  header nav {
    padding: 2em 0 0 0;
    margin: auto;
    width: 60%;
    height: 100%;
  }
}

.nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-1 .logo {
  font-size: 40px;
  font-weight: bold;
}

.nav-1 .logo span {
  font-size: 16px;
}

.nav-1 li {
  display: inline;
  padding-left: 1.5em;
}

.nav-1 .register {
  color: #E84545;
}

.nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-2 ul {
  padding: 0;
}

.nav-2 ul li {
  display: inline;
  margin-right: 3em;
  cursor: pointer;
}

.nav-2 ul li:hover {
  color: #FF9191;
}

.nav-2 .korpa {
  position: relative;
  padding: 8px 40px 8px 40px;
  bottom: 1.5em;
  background-color: #2B2E4A;
  border: #E84545 solid 2px;
  color: #E84545;
  cursor: pointer;
}

@media (min-width: 900px) {
  .nav-2 .korpa {
    bottom: 0;
  }
}

.nav-2 .korpa .svg-korpa {
  position: absolute;
  left: 1em;
  bottom: 2px;
}

.nav-2 .korpa span {
  position: relative;
  font-weight: bold;
  left: 1em;
}

.nav-2 .korpa:hover {
  background-color: #34385a;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #53354A;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .ecommerce {
  cursor: pointer;
  margin-top: auto;
}

footer .ecommerce svg {
  position: relative;
  top: 5px;
  left: 10px;
}

footer .ecommerce:hover {
  color: #FF9191;
}

a {
  cursor: pointer;
}
/*# sourceMappingURL=glavna.css.map */