@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
$MainColor: #2B2E4A;
$HeaderColor: #53354A;
$ActionColor: #E84545;
$ActionColorHover:#FF9191;
$CardColor:#903749;



.ukupno-container{
    display: block;
    margin-top: 2em;
    text-align: end;
    padding:10px;
    border-bottom: 2px solid $CardColor;
    p{
        margin: 0;
    }
    span{
        font-weight: bold;
        font-size: 18px;
        padding-left: 5px;
    }
}
h4{
    font-weight: bold;
    padding-bottom:1em;
    color:$CardColor
}
.adresa-container{
    padding:1em;
    span{
         color:$ActionColor;
         font-weight: bold;
    }
    border-bottom: 2px solid $CardColor;
}
.placanje-container{
    display: block;
    padding:10px 10px 2em 10px;
    border-bottom: 2px solid $CardColor;
}
.pitanje-container{
    display: block;
    padding:10px;
}
.sazetak-container{
    display: block;
    margin-top: 2em;
    padding:10px;
    li{
        margin-top: 5px;
    }
    span{
        color:$ActionColor;
    }
}
.checkbox-container{
    display: block;
    margin-top: 2em;
    text-align: center;
    label{
        padding-left: 0.5em;
    }
}
.btn-container{
    display: block;
    text-align: center;
}





























//--------------------------------------------------Layout--------------------------------------------------------------------
//---------------------------bootstrap---------------------------



//--------------------------------------------------------------
html {
    position: relative;
    min-height: 100%;
  }
body{
    background-color: #2B2E4A;
    margin: 0;
    font-family:'Exo', sans-serif;
    font-size: 1em;
    color:white;
    padding-bottom: 50px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    top:0;
    width: 100%;
    background-color: #53354A;
    nav{
         padding: 2em 10vw 0 10vw;
        @media(min-width:1200px){
        padding: 2em 0 0 0;
        margin: auto;
        width: 60%;
        height: 100%;
        }
    }
}
.nav-1{
    display: flex;
    justify-content: space-between;
    .logo{
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        span{
            font-size: 16px;
        }
    }
    li{
        display: inline;
        padding-left: 1.5em;
    }
    .register{
        color:$ActionColor
    }
}
.nav-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
        ul{
            padding: 0;
            li{
                display: inline;
                margin-right: 3em;
                cursor: pointer;
            }
            li:hover{
                color: $ActionColorHover;
            }
        }
        .korpa{
            position: relative;
            padding: 8px 40px 8px 40px;
            bottom: 1.5em;
            background-color: $MainColor;
            border:$ActionColor solid 2px;
            color:$ActionColor;
            cursor: pointer;
          @media(min-width:900px){
            bottom: 5px;
        }
          .svg-korpa{
              position: absolute;
              left:1em;
              bottom: 2px;
          }
          span{
            position: relative;
            font-weight: bold;
            left:1em;
          }
        }
        .korpa:hover{
            background-color: lighten($MainColor, 5%);
        }
}
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #53354A;
    height: 50px;
    display: flex;
    justify-content: center;
    .ecommerce{
        cursor: pointer;
        margin-top: auto;
        svg{
            position: relative;
            top: 5px;
            left:10px;
        }   
    }
    .ecommerce:hover{
        color:$ActionColorHover
    }
    
}
main{
    padding: 10em 10vw 3em 10vw;
    @media(min-width:1200px){
        padding: 10em 0 3em 0;
        margin: auto;
        width: 60%;
        height: 100%;
        }
}
.table-container{
    overflow: auto;
    white-space: nowrap;
  }
  table.table-bordered > thead > tr > th{
          border:1px solid $MainColor;
          text-align: center;
          background-color: $CardColor;
          color:white;
   }
   table.table-bordered > tbody > tr > td{
      border:1px solid $MainColor;
      background-color: $MainColor;
      text-align: center;
      vertical-align: middle;
   }
  img{
      height: 150px;
      width: 150px;
  }

  .btn-action{
    all: unset;
    width: 7em;
    height: 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: $ActionColor;
    font-weight: bold;
    text-align: center;
}
.btn-action:hover{
background-color: $ActionColorHover;
}